@import "variables";
@import "mixins";
/* ======= Artists ul ======= */

.artists__ul {
	display: flex;
	flex-direction: column;
	margin: 25px 0;
	@include ulstyling;

	li {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 20px 0;
		
		h2 {
			width: 100%;
			font-size: 1em;
			margin: 1em auto;
			text-align: left;
		}
		/* Responsive Circle */
		.responsive-circle1 {
    		font-size: 80px;
    		width: 280px;
		}
		.responsive-circle1:not(:hover) {
    		@include grayscale;
		}
		.responsive-circle1::after {
			@include responsiveCircleAfter;
					}
		.bgimg1:after {
			@include backgroundIMG(url(../img/jwilly.jpg), 100%, center);
		}

		.responsive-circle2 {
    		font-size: 80px;
    		width: 80%;
		}
		.responsive-circle2:not(:hover) {
    		@include grayscale;
		}
		.responsive-circle2::after {
			@include responsiveCircleAfter;
					}
		.bgimg2:after {
			@include backgroundIMG(url(../img/sbrandt.jpg), 100%, center);
		}

		.responsive-circle3 {
    		font-size: 80px;
    		width: 80%;
		}
		.responsive-circle3:not(:hover) {
    		@include grayscale;
		}
		.responsive-circle3::after {
			@include responsiveCircleAfter;
					}
		.bgimg3:after {
			@include backgroundIMG(url(../img/krieder.jpg), 100%, center);
		}
		/* End of Responsive Circle */
		div {
			display: flex;
			flex-direction: column;
			width: 100%;
			box-sizing: border-box;
			padding: 0;

			p {
				width: 100%;
				font-size: 1em;
				color: $black;
				margin: 15px 0;
				text-align: left;
			}
			/* Button Style */
			a {
				display: block;
				width: 205px;
				font-size: 0.8em;
			}

			a button {
				@include buttonStyle;
			}
			a button span {
	  			@include buttonSpan;
			}
			a button:hover span {
	  			padding-right: 25px;
			}
			a button:hover span:after {
	  			opacity: 1;
	  			right: 0;
			}
			a button span:after {
	  			@include buttonSpnaAfter;
			}
			a button:hover {
				background-color: rgba(0, 0, 0, 0.9);
			}
			a button:after {
	    		@include buttonAfter;
	    	}
	    	a button:active {
	  			@include buttonActive;
			}
	    	a button:active:after {
	    		@include buttonActiveAfter;
			}
			/* End of Button Style */
		}
	}
}

@media screen and (min-width: 480px) {
.artists__ul li h2 {
	align-self: center;
}
.artists__ul li div button {
	@include buttonStyle;
}
.artists__ul li .responsive-circle1 {
	width: 60%;
	align-self: flex-start;
}
.artists__ul li .responsive-circle2 {
	width: 60%;
	align-self: flex-start;
}
.artists__ul li .responsive-circle3 {
	width: 60%;
	align-self: flex-start;
}
}
@media screen and (min-width: 768px) {
.artists__ul li {
flex-direction: row;

}

.artists__ul li .responsive-circle1 {
width: 50%;
}

.artists__ul li .responsive-circle2 {
	width: 50%;
	align-self: flex-start;
}

.artists__ul li .responsive-circle3 {
	width: 50%;
	align-self: flex-start;
}

.artists__ul li div {
	width: 50%;
	padding: 1em;
	justify-content: center;
}

.artists__ul li div button {
@include buttonStyle;
}
}