@import "../partials/mixins";
/* Responsive Circle */
		.responsive-circle3 {
    		align-self: flex-start;
    		font-size: 80px;
    		width: 30%;
    		padding: 0 35%;
		}
		.responsive-circle3:not(:hover) {
    		@include grayscale;
		}
		.responsive-circle3::after {
			@include responsiveCircleAfter;
					}
		.bgimg3:after {
			@include backgroundIMG(url(../img/krieder.jpg), 100%, center);
		}
/* End of Responsive Circle */